@using DarulAman.Models
@model IEnumerable<DarulAman.Models.tbl_Team>
@{
    Model1 db = new Model1();
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /><br /> <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("About","Home")">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Prayer -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-header">
                <div class="section-header text-center">
                    <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                    <iframe title="Prayer Timing" style="padding: 2rem 2rem 2rem 2rem; margin:20px 20px 20px 20px; width: 90%; height: 450px; border: 3px solid #dedede; background-image: linear-gradient(#dedede, white); box-shadow: 10px 10px revert; border-radius: 50px 50px " scrolling="no" src="https://www.islamicfinder.org/prayer-widget/43095460/shafi/1/0/18.0/17.0"> </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Prayer -->
<!-- About Start -->
<!-- About Start -->
<div class="about">
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/Customer/img/Darul Aman PNG.png" style="height:700px;width:400px ; align-content:center;align-self:center" />

                </div>
                <div class="col-lg-6">
                    <div class="section-header">

                        <h2>Project Plan </h2>
                    </div>
                    <div class="about-tab">
                        <ul class="nav nav-pills nav-justified">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                            </li>

                        </ul>

                        <div class="tab-content">
                            <div id="tab-content-1" class="container tab-pane active">
                                <div class="card-body conatiner" style=" margin: 5px 12px 5px 12px">
                                    <ul class="text align-content-center" style="list-style:none;">
                                        <li>
                                            <h6 style="color:black">
                                                Darul Aman is an islamic centre in Magdeburg, a city in East Germany and also the capital of the state Saxony Anhalt.
                                            </h6>
                                        </li>
                                        <li>
                                            <b> What is Islam?</b>
                                        </li>
                                        <li>
                                            Islam comprises of the following:

                                        </li>
                                    </ul><ol class="text align-content-center" style="list-style:circle;">
                                        <li>
                                            <b style="color:#FDBE33">Faith (ايمانيات):</b>  Belief that our success is only and only in following the orders of Allah (Quran) and the ways of Muhammad (Sunnah).

                                        </li>
                                        <li>
                                            <b style="color:#FDBE33">Prayer and worship (عبادات):</b>
                                            <ol class="text align-content-center">
                                                <li>
                                                    Five times of prayer

                                                </li>
                                                <li> Fasting in Ramadan</li>
                                                <li> Paying Zakat and</li>
                                                <li>

                                                    Performing the Hajj.
                                                </li>
                                            </ol>
                                        </li>
                                        <li>
                                            <b style="color:#FDBE33">Ethics (اخلاقيات) :</b>    Working on our innerself i.e., keeping our mind and heart  away from bad thinking, wishes and desires.



                                        </li>
                                        <li>
                                            <b style="color:#FDBE33">Social System (معاشرت) :</b> Building up a prosperous، happy and healthy society. Helping and supporting the whole creation of Allah (all living beings).

                                        </li>
                                        <li>
                                            All of the above are strongly interconnected to one another and Darul Aman is and will be the place to learn and practice all these.

                                            <h6>  <b>Our Moto:</b></h6>
                                            Learn by practicing and practice by learning.
                                        </li>
                                    </ol>

                                </div>
                            </div>
                            <div id="tab-content-2" class="container tab-pane fade">

                                <div class="card-body conatiner" style="margin: 5px 12px 5px 12px">
                                    <h5>Goal-1</h5>
                                    <ol class="align-content-center" style="list-style:none;">
                                        <li>Masjid</li>
                                        <li> Quran and Hadith lessons (men and women)
                                        <li />
                                        <li> Voluntary service</li>

                                    </ol>

                                    <h5>Goal-2</h5>
                                    <ol class="align-content-center" style="list-style:none;">
                                        <li>Madrasah</li>
                                        <li>Islamic school for boys and girls
                                        <li />
                                        <li> Islamic Library</li>
                                    </ol>
                                    <h5>Goal-3</h5>
                                    <ol class="align-content-center" style="list-style:none;">
                                        <li>Islamic funeral and burial</li>
                                        <li>Islamic marriage (Nikkah)
                                        <li />
                                        <li> Darul Aman Marriage Bureau</li>
                                    </ol>
                                    <h5>Goal-4</h5>
                                    <ol class="align-content-center" style="list-style:none;">
                                        <li>Prayer rooms in Muslim-majority districts </li>
                                        <li>Sports hall for men and women, boys and girls
                                        <li />
                                        <li> Halal slaughterhouse</li>
                                    </ol>
                                    <h5>Goal-5</h5>
                                    <ol class="align-content-center" style="list-style:none;">
                                        <li>Free bus service for differently abled people to be picked up and dropped off at Darul Aman</li>
                                        <li>Other projects discussed in Darul Aman meetings
                                        <li />
                                    </ol>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About End -->
<!-- Facts Start
<div class="facts" data-parallax="scroll" data-image-src="~/Content/Customer/img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                        <p>Volunteers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
                        <p>Our Goal</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">5000</h3>
                        <p>Raised</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Team Start -->
