@using DarulAman.Models
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Confirmation</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Confirmation","Home")">Confirmation</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="section-header text-center">
    <div class="carousel-text">
        <h3 style=" color: #FDBE33">Your Request have been submitted....</h3>
        <h5>You will soon get the confirmation Email</h5>
    </div>
</div>
