@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /><br />  <h2>Contact Us</h2>
            </div>
            @*<div class="col-12">
                    <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                    <a href="@Url.Action("Contact","Home")">Contact</a>
                </div>*@
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Prayer -->
<div class="col-lg-12">
    <div class="section-header">
        <div class="section-header text-center">
            <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
            <iframe title="Prayer Timing" style="padding: 2rem 2rem 2rem 2rem; margin: 20px 20px 20px 20px;
width: 90%; height: 450px; border: 3px solid #dedede; background-image: linear-gradient(#dedede, white); box-shadow: 10px 10px revert;
border-radius: 50px 50px " scrolling="no" src="https://www.islamicfinder.org/prayer-widget/43095460/shafi/1/0/18.0/17.0"> </iframe>
        </div>
    </div>
</div>



<!-- Prayer -->
<!--------->
<!-- Team end -->
<div class="testimonial">
    <div class="container">
        <div class="team">
            <div class="section-header text-center">
                <p>Meet Our Team</p>
                <h2>Contact Us</h2>
            </div>
            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="  border:1px solid #808080; background-image: linear-gradient(#808080, #dedede,white);  border-radius: 50px 50px ">

                                <div>
                                    <div class="event-text ">
                                        <h3 class="align-content-center text-center embed-responsive"
                                            style="color: black;font-size:large;font-weight:bolder;margin-block:20px 20px">
                                            <i class="fa fa-envelope" style="font-size: 25px;margin-right:12px;color:#FDBE33"></i> darulaman-magdeburg@outlook.com
                                        </h3>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/ProductPIC/Icons-04.png" width="250" height="150" alt="Image"/>
                    <div class="testimonial-name">
                        <h2 >
                            <span>Managing Director</span>
                        </h2>
                    </div>
                </div>
                <div class="testimonial-text">
                    <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 15px;font-size:medium;font-family:'Times New Roman'">
                        <div class="text-widget">

                            <h3>
                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i> Abu Uhban
                            </h3>
                            <p><i class="fa fa-phone" style="font-size: 18px; margin: 0 18px 0 0"></i> +49-162-6072672</p>
                            <p> <i class="fa fa-globe" style="font-size: 18px; margin: 0 18px 0 0"></i> English , German , Urdu</p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/ProductPIC/Icons-04.png" width="250" height="150" alt="Image"/>
                    <div class="testimonial-name">
                        <h2>
                            <span>Team Memeber</span>
                        </h2>
                    </div>
                </div>
                <div class="testimonial-text">
                    <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 15px;font-size:medium;font-family:'Times New Roman'">
                        <div class="text-widget">

                            <h3>
                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i> Abu Adam
                            </h3>
                            <p><i class="fa fa-phone" style="font-size: 18px; margin: 0 18px 0 0"></i> +49-176-80871823</p>
                            <p> <i class="fa fa-globe" style="font-size: 18px; margin: 0 18px 0 0"></i> Arabic , German , French</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/ProductPIC/Icons-01.png" width="250" height="150" alt="Image"/>
                    <div class="testimonial-name">
                        <h2>
                            <span>Managing Director</span>
                        </h2>
                    </div>
                </div>
                <div class="testimonial-text">
                    <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 15px;font-size:medium;font-family:'Times New Roman'">
                        <div class="text-widget">

                            <h3>
                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i> Umm Karim
                            </h3>
                            <p><i class="fa fa-phone" style="font-size: 18px; margin: 0 18px 0 0"></i> +49-163-2857835</p>
                            <p> <i class="fa fa-globe" style="font-size: 18px; margin: 0 18px 0 0"></i> English , German </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/ProductPIC/Icons-01.png" width="250" height="150" alt="Image"/>
                    <div class="testimonial-name">
                        <h2>
                            <span>Team Memeber</span>
                        </h2>
                    </div>
                </div>
                <div class="testimonial-text">
                    <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 15px;font-size:medium;font-family:'Times New Roman'">
                        <div class="text-widget">

                            <h3>
                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i> Ukht Asim
                            </h3>
                            <p><i class="fa fa-envelope" style="font-size: 18px; margin: 0 18px 0 0"></i>darulamanwomen@gmx.de</p>
                            <p> <i class="fa fa-globe" style="font-size:18px; margin: 0 3px 0 0 "></i> Pashto ,Persian ,Arabic ,Urdu, German, English, French


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Testimonial End -->

<!-- Team End -->
<!-- Contact Start -->
<div class="single">
    <div class="container">

        <div class="row">
            <div class=" col-md-12">
                <div class="form2">
                    <div class="comment-form">
                        <center> <h1 style="color:#FDBE33;">Contact for any query</h1></center><br />


                        <div id="success"></div>
                        <form action="/Home/SubmitContact" method="post">
                            <div class="control-group">
                                <input type="text" class="form-control" name="FIRST_NAME" placeholder="Your First Name" required="required" data-validation-required-message="Please enter your name" style="cursor:auto" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" name="LAST_NAME" placeholder="Your Last Name" required="required" data-validation-required-message="Please enter your name" style="cursor:auto" />
                                <p class="help-block text-danger"></p>

                            </div>
                            <div>
                                <input type="email" class="form-control" name="EMAIL" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" style="cursor:auto" />
                                <p class="help-block text-danger"></p>

                            </div>
                            <div class="control-group">
                                <input type="text" class="form-control" id="idfor" name="ID" placeholder="Your ID" required="required" onkeypress="return funvalid()" style="cursor:auto" />
                                <p class="help-block text-danger"></p>
                                <div id="message" style="color:red"></div>
                            </div>
                            <div class="control-group">
                                <input type="number" class="form-control" name="CONTACT" pattern="/^[+]?(1\-|1\s|1|\d{3}\-|\d{3}\s|)?((\(\d{3}\))|\d{3})(\-|\s)?(\d{3})(\-|\s)?(\d{4})$/g" " placeholder="Your Contact" required="required" style="cursor:auto" />
                                <div id="message" style="color:red"></div>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div class="control-group">
                                <textarea class="form-control" name="MESSAGE" placeholder="Message" required="required" data-validation-required-message="Please enter your message" style="cursor:auto">
                        </textarea>

                            </div> <br />
                            <div>
                                <button class="btn btn-block btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<!---------------Scripting function-------------------->
<script type="text/javascript">
    function funvalid() {
        var e = document.getElementById("idfor").value;
        var m = document.getElementById("message");
        if (e <= 14) {
            m.innerText = "";
            return true;
        }
        else {

            m.innerText = "ID must be less than 14 digits";
            m.style.color = "Red";
        }
    }


</script>
