@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /><br />  <h2>Contact Us</h2>
            </div>
            @*<div class="col-12">
                    <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                    <a href="@Url.Action("Contact","Home")">Contact</a>
                </div>*@
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Team Start -->
<div class="team">
    <div class="section-header text-center">
        <p>Meet Our Team</p>
        <h2>Contact Us</h2>
    </div>
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div style="  border: 3px solid #FDBE33; background-image: linear-gradient(#FDBE33, white);  border-radius: 50px 50px ">

                        <div>
                            <div class="event-item">
                                <img src="/Content/Customer/img/emailpic.png" style="height: 100px; margin: 0px 0px 0px 10rem;padding:1rem 1rem 1rem 1rem">
                                <span class="align-content-center" style="color: black; margin:0px 0px 0px 2rem;font-size:25px;font-weight:bolder">darulaman-magdeburg@outlook.com</span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>
    </div>
    </div>
            <!-- Team end -->
            <!-- Team Start -->
            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div style="  border: 3px solid #FDBE33; background-image: linear-gradient(#FDBE33, white);  border-radius: 50px 50px ">

                                <div>
                                    <div class="event-item">

                                      
                                        <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 1rem;font-size:25px;">
                                           
                                                <div class="text-widget">
                                                    <p>
                                                        <ul style="color: black; list-style: none; font-size: 22px">
                                                            <li style="font-weight: bold">
                                                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i>  Abu Uhban(Managing Director)
                                                            </li>

                                                            <li>
                                                              <i class="fa fa-phone" style="font-size: 18px; margin: 0 18px 0 0"></i>  +49-162-6072672
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-globe" style="font-size: 18px; margin: 0 18px 0 0 "></i>  English , German , Urdu
                                                            </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div style="  border: 3px solid #FDBE33; background-image: linear-gradient(#FDBE33, white);  border-radius: 50px 50px ">

                                <div>
                                    <div class="event-item">

                                        <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 1rem;font-size:25px;">
                                           
                                                <div class="text-widget">
                                                    <p>
                                                        <ul style="color: black; list-style: none; font-size: 22px">
                                                            <li style="font-weight: bold">
                                                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i>  Abu Adam
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-phone" style="font-size: 18px; margin: 0 18px 0 0"></i>    +49-176-80871823
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-globe" style="font-size: 18px; margin: 0 18px 0 0 "></i> French , German , Arabic                                                            </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                          
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team end -->
            <!-- Team Start -->
            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div style="  border: 3px solid #FDBE33; background-image: linear-gradient(#FDBE33, white);  border-radius: 50px 50px ">

                                <div>
                                    <div class="event-item">

                                        
                                        <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 1rem;font-size:25px;">
                                           
                                                <div class="text-widget">
                                                    <p>
                                                        <ul style="color: black; list-style: none; font-size: 22px">
                                                            <li style="font-weight: bold">
                                                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i> Umm Karim (Managing Director)
                                                            </li>
                                                           
                                                            <li>
                                                                <i class="fa fa-phone" style="font-size: 18px; margin: 0 18px 0 0"></i>  +49-163-2857835
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-globe" style="font-size: 18px; margin: 0 18px 0 0 "></i> German , English
                                                            </li>
                                                           
                                                        </ul>
                                                    </p>
                                                </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div style="  border: 3px solid #FDBE33; background-image: linear-gradient(#FDBE33, white);  border-radius: 50px 50px ">

                                <div>
                                    <div class="event-item">

                                         <div class="sidebar-widget" style="color: black; margin:0px 0px 0px 1rem;font-size:25px;">
                                             <div class="text-widget">
                                                    <p>
                                                        <ul style="color: black; list-style: none;font-size:22px;">
                                                            <li style="font-weight: bold">
                                                                <i class="fa fa-user" style="font-size: 18px; margin: 0 18px 0 0"></i>  Ukht Asim
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-envelope" style="font-size: 18px; margin: 0 18px 0 0 "></i> darulamanwomen@gmx.de
                                                            </li>

                                                            <li>
                                                                <i class="fa fa-phone" style="font-size: 18px; margin: 0 18px 0 0"></i>  +49-162-6072672
                                                            </li>

                                                            <li style="font-size:18px">
                                                                <i class="fa fa-globe" style="font-size:18px; margin: 0 3px 0 0 "></i> Pashto ,Persian ,Arabic ,Urdu, German, English, French
                                                            </li>
                                                        </ul>
                                                    </p>
                                                </div>
                                            
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team end -->
            
            <!-- Team End -->
            <!-- Contact Start -->
            <div class="contact">
                <div class="container">

                    <div class="comment-form">
                        <center> <h1 style="color:#FDBE33;">Contact for any query</h1></center><br />

                        <div class="contact-form">
                            <div id="success"></div>
                            <form action="/Home/SubmitContact" method="post">
                                <div class="control-group">
                                    <input type="text" class="form-control" name="FIRST_NAME" placeholder="Your First Name" required="required" data-validation-required-message="Please enter your name" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" name="LAST_NAME" placeholder="Your Last Name" required="required" data-validation-required-message="Please enter your name" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>
                                    </p>
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" name="EMAIL" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>
                                    </p>
                                </div>
                                <div class="control-group">
                                    <input type="text" class="form-control" id="idfor" name="ID" placeholder="Your ID" required="required" onkeypress="return funvalid()" style="cursor:auto" />
                                    <p class="help-block text-danger"></p>
                                    <div id="message" style="color:red"></div>
                                </div>
                                <div class="control-group">
                                    <input type="tel" class="form-control" name="CONTACT" pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$" placeholder="Your Contact" required="required" style="cursor:auto" />
                                    <div id="message" style="color:red"></div>
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="control-group">
                                    <textarea class="form-control" name="MESSAGE" placeholder="Message" required="required" data-validation-required-message="Please enter your message" style="cursor:auto">
                        </textarea>

                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact End -->
            <!---------------Scripting function-------------------->
            <script type="text/javascript">
                function funvalid() {
                    var e = document.getElementById("idfor").value;
                    var m = document.getElementById("message");
                    if (e <= 14) {
                        m.innerText = "";
                        return true;
                    }
                    else {

                        m.innerText = "ID must be less than 14 digits";
                        m.style.color = "Red";
                    }
                }
            </script>
