@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /> <h4 style="color:#FDBE33">
                    The Prophet(ﷺ) said;
                </h4><br />
                     <h3 style="color:#FDBE33">لْمُؤْمِنُ الْقَوِيُّ خَيْرٌ وَأَحَبُّ إِلَى اللَّهِ مِنَ الْمُؤْمِنِ الضَّعِيفِ وَفِي كُلٍّ خَيْرٌ احْرِصْ عَلَى مَا يَنْفَعُكَ</h3><br />

                <p style="color:white">
                    "A strong believer is better and is more lovable to Allah than a weak believer, and there is good in everyone,<br /> (but) cherish that which gives you benefit (in the Hereafter)."<br />(Al-Mu'jam Al-Awsat 6/139)
                </p>
               
            </div>
            <div class="col-12">
                <h2>Gym</h2>
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Gym","Home")">Gym</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="section-header text-center">
    <div class="carousel-text">
        <h2 style=" color: #FDBE33"> Under Maintenance </h2>
    </div>
</div>
