@model IEnumerable<DarulAman.Models.tbl_AccessLevel>

@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Login</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Login","Home")">Login</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!---Login Form-->

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <div class="form2">
                    <center>
                        <h1 style="color: #FDBE33;"><b>Admin login</b></h1>
                        <p>Please fill in this form to Login</p>
                        <hr>
                        <form action="/Home/Login" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="Form-word "><b>Email address *</b></label>
                                <input type="email" class="form-control form-input " id="exampleInputEmail1" name="EMAIL" placeholder="Enter Email" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <p>
                                    <label for="password" class="Form-word"><b>Password *</b></label>
                                    <input type="password" id="id_password" class="form-control" name="PASSWORD" placeholder="Enter Password" autocomplete="off" required/>
                                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                                </p>
                            </div>
                            <div style="color:red; font-weight:bolder">@ViewBag.Message</div>
                            <br />
                            <input type="submit" class="btn btn-custom btn-lg" value="Log In" />
                            <button type="button" class="btn btn-custom btn-lg" data-toggle="modal" data-target="#exampleModal">Forget Password</button>

                            <br /><br />
                        </form>
                    </center>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="widget-title text-left text-warning" id="exampleModalLabel">Forget Password</h5>
                <button type="button" class="close text-right text-dark" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form action="/Home/ForgetPassword" method="post" id="myform">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Enter Email:</label>
                        <input type="email" name="email" class="form-control" id="email">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom btn-lg">Close</button>
                <button type="submit" class="btn btn-custom btn-lg" form="myform">Send Code</button>
            </div>
        </div>
    </div>
</div>


<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });</script>

