@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <br /> <h2>Mosque</h2>
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Mosque","Home")">Mosque</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End --><!-- Prayer -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-header">
                <div class="section-header text-center">
                    <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                    <iframe title="Prayer Timing" class="prayerbox" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/43095460/shafi/1/0/18.0/17.0"> </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Prayer -->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-content">
                    <div class="carousel-text">
                        <h1 style="font-weight:bolder">Mosque</h1><br />
                        <div class="sidebar">
                            <div class="sidebar-widget">

                                <div class="text-widget">
                                    <p>
                                    <p style="font-size:20px;color:#FDBE33;">
                                        <b style="font-weight:bold;font-size:25px">Mosque</b>  (A place to validate your faith)
                                    </p>
                                    <ul style="font-size:18px;color:black">
                                        <li>
                                            The House of Allah (it is not the
                                            private property of anyone).
                                        </li>
                                        <li>
                                            Open 24 hours.
                                        </li>
                                        <li>
                                            A place that is not just a prayer room
                                            but an institute where one learns what
                                            Allah has commanded us in the Quran
                                            and as Prophet Muhammad (صلى الله عليه وسلم) followed it (Sunnah).
                                        </li>
                                    </ul><br />
                                         <p style="font-size:20px;color:#FDBE33;">
                                             <b style="font-weight:bold;font-size:25px">Madrasah</b> (Learning the Quran and Hadith)
                                         </p>
                                    <ul style="font-size:18px;color:black">
                                        <li>
                                            Quran & Hadith - A complete life
                                            manual.
                                        </li>
                                        <li>
                                            Separate learning sections for
                                            women and men.
                                        </li>

                                        <li>Quran teaching for boys and girls.</li>
                                    </ul><br />
                                    <p style="font-size:20px;color:#FDBE33;">
                                        <b style="font-weight:bold;font-size:25px">Islamic School </b>(A place to learn Islamic ethics)</p>
                                    <ul style="font-size:18px;color:black">
                                        <li>
                                            Separate sections for boys and girls.

                                        </li>
                                        <li>
                                            The focus is on learning Islamic
                                            morals (Ikhlaaq - Fadail taleem).
                                        </li>
                                        <li>
                                            Each child will be a role model for the
                                            others.
                                        </li>
                                        <li>
                                            Admission to the school is open to
                                            any child, regardless of religion or
                                            nationality.
                                        </li>
                                    </ul>



                                </div>
                            </div>
                        </div>

                    </div><hr />

                </div>

            </div>
            <div class="col-lg-6 col-lg-offset-4">
                <img src="~/ProductPIC/MosqueImage.png"class="align-content-center" style="height:800px;width:380px;margin-left:3rem" />
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
