@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            @*<div class="col-12">

                <br /> <h3 style="color:#FDBE33">ٱتْلُ مَآ أُوحِىَ إِلَيْكَ مِنَ ٱلْكِتَبِ وَأَقِمِ ٱلصَّلَوٰةَ ۖ إِنَّ ٱلصَّلَوٰةَ تَنْهَىٰ عَنِ ٱلْفَحْشَآءِ وَٱلْمُنكَرِ ۗ <br />وَلَذِكْرُ ٱللَّهِ أَكْبَرُ ۗ وَٱللَّهُ يَعْلَمُ مَا تَصْنَعُونَ </h3><br />
                <h3 style="color:#FDBE33">
                    AL  Quran
                </h3>
                <p style="color:white">
                    "(O Prophet), recite the Book that has been revealed to you and establish Prayer. Surely Prayer<br /> forbids indecency and evil. And Allah's remembrance is of even greater merit. Allah knows all that you do."<br />(Surah Al-'Ankabut 29:45-51)
                </p>
            </div>*@
            <div class="col-12">
                <br /><br />  <h2>Prayer</h2>
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Event","Home")">Prayer</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-header">
                <div class="section-header text-center">
                    <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                  <iframe title="Prayer Timing" class="prayerbox" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/2874545/shafi/6/0/13/13" data-dashlane-frameid="1122"> </iframe>
                </div>
            </div>
        </div>
    </div>
</div>


