@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /><h3 style="color:#FDBE33">لَن يَنَالَ ٱللَّهَ لُحُومُهَا وَلَا دِمَآؤُهَا وَلَـٰكِن يَنَالُهُ ٱلتَّقْوَىٰ مِنكُمْ ۚ كَذَٰلِكَ سَخَّرَهَا لَكُمْ لِتُكَبِّرُوا۟ ٱللَّهَ <br />عَلَىٰ مَا هَدَىٰكُمْ ۗ وَبَشِّرِ ٱلْمُحْسِنِينَ </h3><br />

                <p style="color:white">
                    "Neither their meat nor blood reaches Allah. Rather, it is your piety that reaches Him. This is how He has subjected them<br /> to you so that you may proclaim the greatness of Allah for what He has guided you to, and give good news to the good-doers."<br />(Al-Hajj 37)
                </p>
            </div>
            <div class="col-12">
                <br /><br /><h2>Slaughter house</h2>
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Slaughterhouse","Home")">Slaughter house</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End --><!-- Prayer -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-header">
                <div class="section-header text-center">
                    <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                    <iframe title="Prayer Timing" class="prayerbox" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/43095460/shafi/1/0/18.0/17.0"> </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Prayer -->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="single-content">
                    <div class="carousel-text">
                        <h2 style=" color: #FDBE33">Halal-Slaughterhouse </h2><br />
                        <div class="sidebar">
                            <div class="sidebar-widget">

                                <div class="text-widget">
                                    <p>
                                        <ul style="font-size:x-large;color:black">
                                            <li>
                                                 Slaughtering of animals in
                                                accordance with the Sunnah of
                                                Prophet Muhammad (ﷺ).
                                            </li>
                                            <li>
                                                 An opportunity for Muslims to gather
                                                on Eid-ul-Adha (Kurban Festival / Feast
                                                of Sacrifice) and have the opportunity
                                                to perform the Sunnah of Prophet Muhammad
                                                (ﷺ)and Prophet Ibrahim
                                                (عليه السلام).
                                            </li>

                                        </ul>

                                    </p>

                                </div>
                            </div>
                        </div>

                    </div><hr />

                </div>

            </div>
            <div class="col-lg-5">

                <img src="~/Content/Customer/img/Slaughter Haus.png" style="margin-left:3rem"/>
            </div>
        </div>
    </div>
</div>
