@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /><br />  <h2>Support Us</h2>
            </div>
            
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Team Start -->
<div class="team">
    <div class="section-header text-center">
        <div class="section-header text-center">
            <div class="carousel-text">
                <h2 style=" color: #FDBE33">Quotation From Quran </h2>
                <br /><br />
                <center>
                    <p style="color:black;font-size:x-large;margin:0 5px 0 5px">
                        <b>    وَٱعْبُدُوا۟ ٱللَّهَ وَلَا تُشْرِكُوا۟ بِهِۦ شَيْـًۭٔا ۖ وَبِٱلْوَٰلِدَيْنِ إِحْسَـٰنًۭا وَبِذِى ٱلْقُرْبَىٰ وَٱلْيَتَـٰمَىٰ وَٱلْمَسَـٰكِينِ وَٱلْجَارِ ذِى ٱلْقُرْبَىٰ وَٱلْجَارِ ٱلْجُنُبِ وَٱلصَّاحِبِ بِٱلْجَنۢبِ وَٱبْنِ ٱلسَّبِيلِ وَمَا مَلَكَتْ أَيْمَـٰنُكُمْ ۗ إِنَّ ٱللَّهَ لَا يُحِبُّ مَن كَانَ مُخْتَالًۭا فَخُورًا</b>
                    </p>
                    <p style="color: black; font-size: medium; margin: 0 5px 0 5px">
                        Worship Allah ˹alone˺ and associate none with Him. And be
                        kind to parents, relatives, orphans, the poor, near and distant
                        neighbors, close friends, ˹needy˺ travelers, and those
                        ˹bondspeople˺ in your possession. Surely Allah does not like
                        whoever is arrogant, proud.
                        <br />
                        <b>(Quran 4:32)</b>
                    </p>
                </center>
            </div><hr />
        </div>

    </div>

    <!-- Supprot end -->
    <div class="single">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="single-content">
                        <div class="carousel-text">
                            <h2 class="supporttext"> <b class="supporttext">Bank Account</b>(KT Bank)</h2><br />
                            <hr/>
                            <div class="sidebar">
                                <div class="sidebar-widget">

                                    <div class="text-widget">
                                        <p>
                                            <ul style="font-size:xx-large;color:black; list-style:none;">
                                                <li>
                                                    <span>
                                                        <b> Name:</b>   <span class="supportli">Haus des Schutzes Darul Aman e.V.</span>
                                                    </span>
                                                </li>
                                                <hr/>

                                                <li>
                                                    <span>
                                                        <b>IBAN:</b>   <span class="supportli">DE39 5023 4500 0548 4500 01</span>
                                                    </span>
                                                </li>
                                                <hr/>
                                                <li>
                                                    <span>
                                                        <b> BIC:</b>   <span class="supportli">KTAGDEFFXXX</span>
                                                    </span>
                                                </li>
                                                <hr/>
                                                <li>
                                                    <span>
                                                        <b> Purpose:</b>   <span class="supportli">Darul-Aman.</span>
                                                    </span>
                                                </li>
                                                <hr/>
                                            </ul>

                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                    <img src="~/ProductPIC/Barcodepic.png" style="height:250px"/>
                    <img src="~/ProductPIC/Scanmepic.png" style="height:250px"/>
                </div>
            </div>
        </div>
    </div>
</div>