@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /><br />  <h2>Support Us</h2>
            </div>

        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-header">
                <div class="section-header text-center">
                    <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                  <iframe title="Prayer Timing" class="prayerbox" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/2874545/shafi/6/0/13/13" data-dashlane-frameid="1122"> </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Prayer -->
<!--------->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <h2>Coming soon</h2>
        </div>
    </div>
</div>
<!-- Team Start -->

<!-- Supprot end -->
<div class="single">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="single-content">
                        <div class="carousel-text">
                            <h2 class="supporttext"> <b class="supporttext">Bank Account</b>(KT Bank)</h2><br />
                            <hr/>
                            <div class="sidebar">
                                <div class="sidebar-widget">

                                    <div class="text-widget">
                                        <p>
                                            <ul style="font-size:xx-large;color:black; list-style:none;">
                                                <li>
                                                    <span>
                                                        <b> Name:</b>   <span class="supportli">Haus des Schutzes Darul Aman e.V.</span>
                                                    </span>
                                                </li>
                                                <hr/>

                                                <li>
                                                    <span>
                                                        <b>IBAN:</b>   <span class="supportli">DE39 5023 4500 0548 4500 01</span>
                                                    </span>
                                                </li>
                                                <hr/>
                                                <li>
                                                    <span>
                                                        <b> BIC:</b>   <span class="supportli">KTAGDEFFXXX</span>
                                                    </span>
                                                </li>
                                                <hr/>
                                                <li>
                                                    <span>
                                                        <b> Purpose:</b>   <span class="supportli">Darul-Aman.</span>
                                                    </span>
                                                </li>
                                                <hr/>
                                            </ul>

                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                    <img src="~/ProductPIC/Barcodepic.png" style="height:250px"/>
                    <img src="~/ProductPIC/Scanmepic.png" style="height:250px"/>
                </div>
            </div>
        </div>
    </div>
</div>
