@model IEnumerable<DarulAman.Models.tbl_TeachingCourse>

@{

    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <br /> <h3 style="color:#FDBE33"> الَّذِي يَقْرَأُ الْقُرْآنَ وَهْوَ حَافِظٌ لَهُ مَعَ السَّفَرَةِ الْكِرَامِ الْبَرَرَةِ، وَمَثَلُ الَّذِي يَقْرَأُ الْقُرْآنَ<br /> وَهْوَ يَتَعَاهَدُهُ وَهْوَ عَلَيْهِ شَدِيدٌ، فَلَهُ أَجْرَانِ ‏.‏  <br /></h3><br />
                <h4 style="color:#FDBE33">
                    Ā’ishah (رضي الله عنها) reported: The Prophet(ﷺ) said;
                </h4>
                <p style="color:white">
                    "The one who recites the Qur'an skillfully will be in the company of the noble and righteous messenger-angels<br /> and the one who reads the Qur'an, but stutters and finds it difficult, receives a double reward."<br />[Al-Bukhari and Muslim]
                </p>
            </div>
            <div class="col-12">
                <br /> <h2>Teaching Quran and Hadith</h2>
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Teaching","Home")">Quran & Hadith</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Prayer -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-header">
                <div class="section-header text-center">
                    <h1 style="color: #FDBE33" class=" text-center">Prayer Timing</h1>
                    <iframe title="Prayer Timing" style="padding: 2rem 2rem 2rem 2rem; margin:20px 20px 20px 20px; width: 90%; height: 450px; border: 3px solid #dedede; background-image: linear-gradient(#dedede, white); box-shadow: 10px 10px revert; border-radius: 50px 50px " scrolling="no" src="https://www.islamicfinder.org/prayer-widget/43095460/shafi/1/0/18.0/17.0"> </iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Prayer -->
<div class="section-header text-center">
    <div class="carousel-text">
        <h2 style=" color: #FDBE33">Hadith </h2>
        <br /><br />
        <center>
            <p>
                'Uthman bin 'Affan (May Allah be pleased with him) reported:<br />
                The Messenger of Allah (ﷺ) said:
            </p>

            <p style="color:black;font-size:xx-large">
                <b>    خَيْرُكُمْ مَنْ تَعَلَّمَ الْقُرْآنَ وَعَلَّمَهُ </b>
            </p>
            <p style="color:black">
                The best of you are those who learn the Qur’an <br />and teach it to others. <br />
                <b>[Al-Bukhari].</b>
            </p>
        </center>
    </div><hr />
</div>

<!-- Contact End -->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-content">
                    <div class="carousel-text">
                        <h2 style=" color: #FDBE33">Madrasah (Learning the Quran and Hadith)</h2><br />
                        <div class="sidebar">
                            <div class="sidebar-widget">

                                <div class="text-widget">
                                    <p>
                                        <ul style="font-size:x-large;color:black">
                                            <li>
                                                Quran & Hadith - A complete life
                                                manual.
                                            </li>
                                            <li>
                                                Separate learning sections for
                                                women and men.
                                            </li>

                                            <li>Quran teaching for boys and girls.</li>
                                        </ul>
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div><hr />

                </div>

            </div>

            <div class="col-lg-6">

                <div class="comment-form">
                    <center> <h2 style="color:orange">Application Form</h2></center><br />

                    <form action="/Home/Teaching" method="post">
                        <div class="form-group">
                            <label for="name"> First Name *</label>
                            <input type="text" class="form-control" name="FIRST_NAME" id="name" required="required" style="cursor:auto" />
                        </div>
                        <div class="form-group">
                            <label for="name"> Last Name *</label>
                            <input type="text" class="form-control" name="LAST_NAME" id="name" required="required" style="cursor:auto" />
                        </div>
                        <div class="form-group">
                            <label for="tel#">Contact# *</label>
                            <input type="number" class="form-control" 
                                   pattern="/^[+]?(1\-|1\s|1|\d{3}\-|\d{3}\s|)?((\(\d{3}\))|\d{3})(\-|\s)?(\d{3})(\-|\s)?(\d{4})$/g"
                                   name="CONTACT" id="tel#" required="required" style="cursor:auto" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" name="EMAIL" id="email" style="cursor:auto" required/>
                        </div>
                        <div class="form-group">
                            <label for="id">ID *</label>
                            <input type="text" class="form-control" name="ID" id="idfor" style="cursor:auto" onkeypress="return funvalid()"/>
                            <div id="message" style="color:red"></div>
                        </div>
                        <div class="form-group">
                            <p>Gender *</p>


                            <div>
                                <input type="radio" id="female" class="custom-radio" name="GENDER" value="Female">&nbsp;
                                <label for="female">Female</label><br>
                                <input type="radio" id="male" name="GENDER" class="custom-radio" value="Male">&nbsp;
                                <label for="male">Male</label><br>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Origin">Origin *</label>
                            <input type="text" class="form-control" id="Origin" name="ORIGIN" required="required" style="cursor:auto" />
                        </div>
                        <div class="control-group">
                            <label for="Address">Address *</label>
                            <textarea class="form-control" name="ADDRESS" id="Address" required="required" style="cursor:auto"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="text">Guardian *</label>
                            <input type="text" class="form-control" name="GUARDIAN" id="Guardian" required="required" style="cursor:auto" />
                        </div>
                        <div class="form-group">
                            <label for="reason" placeholder="Chose Course">Course *</label>

                            <select class="form-control" id="reason" name="COURSE">
                                @foreach (var c in Model)
                                {
                                    <option>@c.COURSE_NAME</option>
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="message">Message </label>
                            <textarea id="message" cols="30" rows="5" name="MESSAGE" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" required style="cursor:auto" />
                            <span>
                                I Accept the <a href="@Url.Action("Privacypolicy","Home")" style="color:#FDBE33 " required="required" style="cursor:auto" /><b>Terms and Conditions</b></a>
                            </span>
                        </div>
                        <br />

                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-custom btn-block">
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<!---------------Scripting function-------------------->
<script type="text/javascript">
    function funvalid() {
        var e = document.getElementById("idfor").value;
        var m = document.getElementById("message");
        if (e <= 14) {
            m.innerText = "successful";
            m.style.color = "Green";
            return true;
        }
        else {

            m.innerText = "ID must be less than 14 digits";
            m.style.color = "Red";
        }
    }
</script>