@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header-contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Translation Services</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Translation","Home")">Translation Services</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="section-header text-center">
    <div class="carousel-text">
        <h2 style=" color: #FDBE33"> Under Maintenance</h2>
    </div>
</div>